<div class="img-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 content offset-md-3">
                <img src="assets/img/logo.png" class="header-logo">
                <br>
                <div class="row header-buttons">
                    <div class="col-md-4"><a href="#" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Download 1.1.0</a></div>
                    <div class="col-md-4 offset-md-4"><a href="#" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Release Notes</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container page-content">
    <div class="col-md-9">
        <h2>Open Source Tool for Making 3D Characters</h2>
        <p class="intro-text">This is the official website of the MakeHuman character generation software.</p>
        <p class="intro-text">MakeHuman is the free and open source software to create realistic 3d humans for illustrations, animations, games, and sculpting.</p>
        <p class="intro-text">Content created with MakeHuman is licensed under the CC0 license giving artists unprecedented freedom to use their MakeHuman creations in any way they can imagine.</p>
    </div>
</div>