<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse center">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">{website_name}</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html#download">Download</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">License</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Crew</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Join Us</a>
            </li>
        </ul>
    </div>
</nav>
<div class="img-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 content">
                <img src="assets/img/logo.png" class="header-logo">
                
                <div class="row header-buttons">
                    <div class="col-md-4"><a href="index.html#download" class="btn btn-danger"><i class="fa fa-download" aria-hidden="true"></i> Download 1.1.0</a></div>
                    <div class="col-md-4 offset-md-4"><a href="#" class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i> Release Notes</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
